<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action = "{{url_for('login')}}" method = "post">
    <table>
        <tbody>
            <tr>
                <td>用户名1:</td>
                <td><input type="text" placeholder="请输入名字" name = "name"></td>
            </tr>
            <tr>
                <td>密码2:</td>
                <td><input type="text" placeholder="请输入密码" name = "passwd"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value = "登陆"></td>
            </tr>
        </tbody>
    </table>
</form>
</body>
</html>